/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-6;
  border-collapse: collapse;
  border: 1px solid $light-gray;

  & + table {
    margin-top: 1em;
  }
}

thead {
  background-color: $lighter-gray;
  border-bottom: 1px solid $light-gray;
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
  border-right: 1px solid $light-gray;
}

td {
  padding: 0.5em;
  border-bottom: 1px solid $light-gray;
  border-right: 1px solid $light-gray;
}

tr, td, th {
  vertical-align: middle;
}

/* ==========================================================================
   TABLES in CV
   ========================================================================== */

table.cvtable {
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-6;
  border-collapse: collapse;
  border: 0;

  & + table {
    margin-top: 1em;
  }
}

table.cvtable thead {
  background-color: $lighter-gray;
  border-bottom: 0;
}

table.cvtable th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
  border-right: 0;
}

table.cvtable td {
  padding: 0.5em;
  border-bottom: 0;
  border-right: 0;
}

table.cvtable tr, td, th {
  vertical-align: top;
}

table.cvtable th:first-of-type {
    text-align: right;
    border-right:  1px solid $light-gray;
}

table.cvtable td:first-of-type {
    text-align: right;
    border-right:  1px solid $light-gray;
}
